<!-- <?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>	
  
	<servlet>
	<display-name>jm_cafe_proj_settings</display-name>
	 	<servlet-name>cafe_loginOK</servlet-name>
		<servlet-class>com.cafeprojF.www</servlet-class>
		<init-param>
			<param-name>sId</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>sPw</param-name>
			<param-value>1234</param-value>
		</init-param>
		<init-param>
			<param-name>url</param-name>
			<param-value>
				jdbc:mysql://localhost:3306/nicedb?serverTimezone=UTC
			</param-value>
		</init-param>
		<init-param>
			<param-name>driver</param-name>
			<param-value>com.mysql.cj.jdbc.driver</param-value>
		</init-param>		
		
	</servlet>
	
	<servlet-mapping>
		<servlet-name>cafe_loginOK</servlet-name>
		<url-pattern>cafe_loginOK</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name></param-name>
		<param-value></param-value>
	</context-param>
	
</web-app>
	
 -->