body{
    background-image: url("../image_src/newPosting/hd-wallpaper-g52c614daf_1920.jpg");
	height:1200px;
}

header{
    position: relative;
    width:1900px;
    top:0;
    left:0;
    height:200px;
    /* background-image: url("image_src/main/header_src/animal-g8de38a652_1920.jpg"),
    url("image_src/main/header_src/dog-geac133045_1920.jpg"),
    url("image_src/main/header_src/rat-gdf71bce33_1920.jpg"),
    url("image_src/main/header_src/sandpipers-gb164a8c8e_1920.jpg"),
    url("image_src/main//header_src/hare-gab28bd4ec_1920.jpg"); */
    background-size: auto 250px, auto 350px, auto 250px, auto 250px;
    background-position: 0px, 350px, 750px, 1120px, 1530px;
    background-repeat: no-repeat;
}
header img{
    height:200px;
    width:300px;
    display: inline-block;  
    margin:0px;
    padding:0px;    
}
header #title_text{
    font-size: 3.0em;
    text-align: center;
    line-height: 200px;
    text-shadow: 3px 3px 4px rgb(63, 62, 62);
    color:white;
    font-style: italic;
    font-family: 'Alkatra', cursive;
}
header:hover a{
    display: block;
    cursor: pointer;
}
header a{
    display: none;
    width:1900px;
    height:200px;
    position: absolute;
    top:0px;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:blue;
    /* font-size:1.1em; */
}
.top #gnl{
    position: absolute;
    top:0;
    margin-top: 10px;
    right:50px;
    display: block;
    border-radius: 10px 10px;
}
.top #gnl ul{
    overflow: hidden;
    display: inline-block;
    padding:2px 10px;    
}
.top #gnl ul li{
    float: left;
    list-style-type: none;
    border-right:1px solid rgb(0, 0, 0); 
}
.top #gnl ul li a{
    padding: 8px 12px; 
       
}
.top #gnl ul li a:hover{
    color:blue;
    background-color: rgba(0,0,0,0.1);
    font-size:1.1em;
}
.top #title{
    background-color: none;
}
nav{
    float:left;
    width:350px;
    height:auto;    
    border-radius: 10px 10px;
    color:black;
	margin-left: 30px;
}
nav a, nav ul, nav button{
    color:black;
}
nav ul.memberMenu li:not(#markNickname){
	padding-left:60px;
}
nav ul.memberMenu li#markNickname{
	text-align: center;
	
}
.cafe_mainMenu{
    border-radius: 10px 10px;
    background-image: url("../image_src/main/nav_src/feet-g8989fb746_640.png");
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: 250px 40px;
    margin-top:50px;
    margin-bottom: 5px;
}
.cafe_mainMenu a:hover:not(#joinToCafe, #logIn),  #newPosting:hover {
    color:blue;
    background-color: beige;
}
#joinToCafe:hover,  #logIn:hover{
    color:blue;
} 
.cafe_profile{
    padding: 10px 25px;
    background-color: white;
    border-radius: 10px 10px;
    margin-bottom: 10px;  
}
.cafe_profile a{
    display: block;
}
.cafe_profile #cafeName{
    text-align: center;
    border-bottom: 2px solid grey;
}


div#curCafeGrade{
	padding-top:10px;
}
div#profile_menubar{
	border-bottom: 2px solid grey;
	padding-bottom:10px;
}
#logIn{
    text-align: center;
    color:black;
    padding-left:20px;
}
#joinToCafe{
    text-align: center;
    color:black;
    border-left: 4px solid white;
    padding-left:50px;
}
#newPostBox{
	padding-bottom: 5px;
}
#newPosting {
    text-align: center; 
    display:inline-block;  
    background-color: #5cd1e5;
    color: white;
    padding: 2px 7px;
    border-radius: 8px;
    font-size: 1.2em;
    margin-left: 114px;
}
.cafe_mainMenu ul.memberMenu{
    overflow: hidden;
    border-top: 2px solid white;    
    margin:0px;
    padding-left: 0px;     
}
.cafe_mainMenu ul li{
    float:left;
    list-style-type: none;
    padding-left: 60px;
    display: block;
}
div.table_menu ul li:hover{
	color:black;
	background-color: beige;
	list-style-type: none;
}
div.table_menu ul li{	
	list-style-type: circle;
	display: contents;
}
div.table_menu ul li a{
	padding-left:10px;
}
button#QuitToCafe{
    border: none;
    border-radius: 5px 5px;
    margin-left: 120px;
    width: 100px;
    height:50px;
    font-size: 1.1em;
    margin-top:5px;
}
button#QuitToCafe:hover{
	font-size:1.2em;
	cursor: pointer;
}
img#listImg{ 
	width:15px;
	height:15px;
	margin-left: 15px;
}
.table_menu{
    border-radius: 10px 10px;
    position: static;
    background-color: white;
    margin-bottom:5px;
    padding-bottom: 5px;
}
.table_menu div#table_menubar{
	border-bottom: 2px solid grey;	
}
.table_menu ul#opearateMenu{
	margin-top: 15px;
}
.table_menu ul#opearateMenu li.tableMenuBtn{
	cursor:pointer;
}

.table_menu ul#active_boardMenu{
	border-top:2px solid grey;
	padding-top: 10px;
}
.table_menu ul#active_boardMenu li.tableMenuBtn{
	cursor:pointer;
}

.table_menu li:hover{
      /* color: blue; */
    background-color: rgb(226, 226, 173); 
}
.table_menu #showAllPost {  	
    padding: 5px 0px;
    text-align: center;
}
.table_menu #showAllPost a{
	background-color: #5cd1e5;
    color: white;
    padding: 2px 7px;
    border-radius: 8px;
    font-size: 1.2em;
}
aside{
    border:2px solid black;  
    float:left;
    width:350px;
    position:static;
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 2px;
}
#copyrights{
    border:2px solid black;   
    bottom:0px;
    display: block;
    width:200px;
    background-color: white;
    text-align: center;
    padding: 20px 0px;
    opacity: 0.9;
    margin-left:0px;
    color:black;
}
.newPosting_place{
	margin-left:500px;
	margin-top:50px;
}
#newPosting_table{
    position: absolute;    
    border-radius: 10px 10px;
    background-color: aliceblue;
    color:black;
    
}
#newPosting_table caption{
    padding: 12px 14px;
    display: block;
    text-align: center;
    border-bottom: 1px solid grey;
}
#newPosting_table td{
   	border-bottom: 1px solid grey;
    padding: 0px 5px;
}
#newPosting_table td.saveOrPost a input[type=button], input[type=submit]{
	width: auto;
    height: 35px;
    border-radius: 5px 5px;
    background-color: #CEF279;
    border: none;
    margin:3px;
    padding: 5px 10px;
}
#newPosting_table td.saveOrPost input[type=submit]{
	margin:3px;
}
#newPosting_table td button, #newPosting_table td #tempSaving, #posting{
    height:40px;
}
#newPosting_table td button:hover{
   height:40px;
}
#newPosting_table td input[type="text"]#postTitle{
    width: 96%;
}
#newPosting_table td #tagPlusBtn{
    display: none;
}
#newPosting_table td #tagOption:checked ~ #tagPlusBtn{
    display: inline;
}
#tempSaving, #posting{
    float:right;
}
#tempSaving{
    margin-right: 5px;
}
#tempSaving:hover, #posting:hover{
    background-color: beige;
    border:1px solid black;
}
#showAllPostTable{
	background-color: white;
	position: fixed;
}